<% layout('layouts/boilerplate')%>

    <h1>Edit Club</h1>
    <form action="/clubs/<%=club._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="club[title]" value="<%=club.title%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="club[location]" value="<%=club.location%>">
        </div>
        <button>Edit Campground</button>

    </form>
    <a href="/clubs/<%= club._id%>">Back to Clubs</a>
