<% layout('layouts/boilerplate')%>

    <h1>All Clubs</h1>
    <div>
        <a href="/clubs/new">Add Club</a>
    </div>
    <ul>
        <% for (let club of clubs) { %>
        <li><a href="/clubs/<%= club._id %>"><%= club.title %></a></li>
        <% } %>
    </ul>
    
