<% layout('layouts/boilerplate')%>

    <form action="/clubs" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="club[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="club[location]">
        </div>
        <button>Add Campground</button>

    </form>
    <a href="/clubs">All CLubs</a>
