<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOW</title>
</head>
<body>
    <h1><%= club.title %></h1>
    <h2><%= club.location %></h2>

<p>
    <form action="/clubs/<%=club._id%>?_method=DELETE" method="POST">
<button>Delete</button>
    </form>
</p>
    <footer>
<p>   <a href="/clubs/<%=club._id%>/edit">Edit Clubs</a></p>

        <a href="/clubs">All Clubs</a>
     
    </footer>
    
</body>
</html>